body {
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #016a87;
}

.bg-light {
  margin: 20px;
  width: 500px;
}

.d-flex {
  width: 500px;
}

.btn-outline-success:hover {
  background-color: #a5c6d8;
}
.currentPosition {
  margin-top: 15px;
  background-color: #f0fbf3;
  color: #385170;
  border-radius: 10px;
}

ul {
  list-style: none;
}

.city {
  color: darkcyan;
  font-size: 40px;
}
.date {
  color: cadetblue;
  font-size: 25px;
}
.description {
  color: cadetblue;
  font-size: 25px;
}
.time {
  color: cadetblue;
  font-size: 25px;
}
.temperature-number {
  color: darkcyan;
  font-size: 40px;
}
.temperature {
  color: darkcyan;
  margin: 0 30px 0 33px;
  padding-bottom: 30px;
}

.units {
  position: relative;
  top: -15px;
}

.row {
  padding-bottom: 30px;
}

.card {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  background-color: #f0fbf3;
  border-radius: 40px;
}
.fa-sun {
  margin: 0 auto;
  font-size: 50px;
  color: #385170;
}
.fa-cloud-sun-rain {
  margin: 0 auto;
  font-size: 50px;
  color: #385170;
}
.fa-cloud-sun {
  margin: 0 auto;
  font-size: 50px;
  color: #385170;
}
#day-1 {
  position: relative;
  left: 20px;
}
#day-2 {
  position: relative;
  left: -20px;
}
#day-3 {
  position: relative;
  left: -60px;
}
#day-4 {
  position: relative;
  left: -100px;
}
#day-5 {
  position: relative;
  left: -140px;
}
.githubLink {
  margin-left: 20px;
  color: #385170;
}
